<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="www.lingyuan.businesscooperation.dao.ActivityMapper">

    <!--     可根据自己的需求，是否要使用-->
    <resultMap type="www.lingyuan.businesscooperation.entity.DO.Activity" id="ActivityMap">
        <result property="id" column="id"/>
        <result property="poster" column="poster"/>
        <result property="title" column="title"/>
        <result property="sponsor" column="sponsor"/>
        <result property="industryType" column="industry_type"/>
        <result property="activityType" column="activity_type"/>
        <result property="targetUsers" column="target_users"/>
        <result property="estimates" column="estimates"/>
        <result property="activityLocation" column="activity_location"/>
        <result property="detailedAddress" column="detailed_address"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="mobile" column="mobile"/>
        <result property="wechatNumber" column="wechat_number"/>
        <result property="eventOffer" column="event_offer"/>
        <result property="resourceDetailsOffer" column="resource_details_offer"/>
        <result property="needResources" column="need_resources"/>
        <result property="resourceDetailsNeed" column="resource_details_need"/>
        <result property="eventDetails" column="event_details"/>
        <result property="fabulous" column="fabulous"/>
        <result property="praise" column="praise"/>
    </resultMap>
    <sql id="ActivitySql">id,poster,title,sponsor,industry_type,activity_type,target_users,estimates,activity_location,detailed_address,start_time,end_time,mobile,wechat_number,event_offer,resource_details_offer,need_resources,resource_details_need,event_details,fabulous,praise</sql>

    <select id="getPage" resultMap="ActivityMap">
        select <include refid="ActivitySql"/> from activity
        <where>
            <if test="Activity.poster!=null">
                and poster=#{Activity.poster}
            </if>
            <if test="Activity.title!=null">
                and title=#{Activity.title}
            </if>
            <if test="Activity.sponsor!=null">
                and sponsor=#{Activity.sponsor}
            </if>
            <if test="Activity.industryType!=0">
                and industry_type=#{Activity.industryType}
            </if>
            <if test="Activity.activityType!=0">
                and activity_type=#{Activity.activityType}
            </if>
            <if test="Activity.targetUsers!=null">
                and target_users=#{Activity.targetUsers}
            </if>
            <if test="Activity.activityLocation!=null">
                and activity_location=#{Activity.activityLocation}
            </if>
            <if test="Activity.detailedAddress!=null">
                and detailed_address=#{Activity.detailedAddress}
            </if>
            <if test="Activity.startTime!=null">
                and start_time=#{Activity.startTime}
            </if>
            <if test="Activity.endTime!=null">
                and end_time=#{Activity.endTime}
            </if>
            <if test="Activity.mobile!=null">
                and mobile=#{Activity.mobile}
            </if>
            <if test="Activity.wechatNumber!=null">
                and wechat_number=#{Activity.wechatNumber}
            </if>
            <if test="Activity.eventOffer!=null">
                and event_offer=#{Activity.eventOffer}
            </if>
            <if test="Activity.needResources!=null">
                and need_resources=#{Activity.needResources}
            </if>
        </where>
    </select>

</mapper>